
#container {
  /* solução para problema de altura ! */
  height: calc(100vh - 76px);
  overflow: auto;
  background-color: black;
}

#centralizar-itens {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#centralizar-modulos {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

#modulos {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    position: relative;
    z-index: 2;
}

#modulo-selecionado {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#img-background {
    position: fixed;
    z-index: 1;
}
