<!-- Terminar: Isso tudo deve vir do banco e deve ser automatizado por um array. -->

<div class="card bg-dark">
  <div class="card-header">
    <h3 class="card-title">Alguns dos nossos serviços - Solicite seu orçamento.</h3>
    <div class="card-tools">
      <a href="https://wa.me/message/WHRNHFRTUCB2L1">
        <i class="fab fa-whatsapp-square"> </i>
      </a>
      <!-- <a><i class="fab fa-whatsapp-square"></i></a> -->
    </div>
  </div>
  <div class="card-body">
    <div class="row">

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Estruturas Metálicas
            </div>
          </div>
          <img src="../../../assets/servicos/Estrutura-metalica.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Reboques
            </div>
          </div>
          <img src="../../../assets/servicos/reboque.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Trailes
            </div>
          </div>
          <img src="../../../assets/servicos/carrinho-de-lanches.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Lixadeira de banca
            </div>
          </div>
          <img src="../../../assets/servicos/lixadeira-banca.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Serra de bancada
            </div>
          </div>
          <img src="../../../assets/servicos/serra-bancada.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Calandra para tubos
            </div>
          </div>
          <img src="../../../assets/servicos/calandra-tubos.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Serra esquadrejadeira
            </div>
          </div>
          <img src="../../../assets/servicos/serra-esquedrejadeira.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Triturador simples
            </div>
          </div>
          <img src="../../../assets/servicos/triturador simples.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Kart cross
            </div>
          </div>
          <img src="../../../assets/servicos/kart-cross.jpeg" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Aparelhos de academia
            </div>
          </div>
          <img src="../../../assets/servicos/aparelhos-academia.jpeg" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Grades em geral
            </div>
          </div>
          <img src="../../../assets/servicos/grades-geral.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Portões
            </div>
          </div>
          <img src="../../../assets/servicos/portao-basculante.png" alt="Estrutura Metálica">
        </div>
      </div>

      <div id="aplica-margin-block" class="col-12 col-xs-6 col-sm-6 col-md-4">
        <div class="position-relative" id="servicos">
          <div class="ribbon-wrapper ribbon-xl">
            <div class="ribbon bg-primary">
              Escadas
            </div>
          </div>
          <img src="../../../assets/servicos/escada.png" alt="Estrutura Metálica">
        </div>
      </div>

    </div>
  </div>
</div>
