<!-- Adicionar novo serviço. -->
<div *ngIf="exibeAddServico"  class="card collapsed-card">

  <div class="card-header border-0">
    <h3 class="card-title">Novo serviço</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-sm" data-card-widget="collapse" data-toggle="tooltip"
        title="Adicionar novo serviço.">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <input formControlName="control_descricao" required class="form-control" id="descricao-servico"
              placeholder="Insira a descrição do serviço..." maxlength="50">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<!-- Listagem dos serviços -->
<div class="card">
  <div class="card-header border-0">
    <h3 class="card-title">serviços</h3>
    <div class="card-tools">
      <a class="btn btn-tool btn-sm">
        <i class="fas fa-download"></i>
      </a>
      <a (click)="AddNovoServico()" title="Adicionar novo serviço" class="btn btn-tool btn-sm">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-striped table-valign-middle">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Cliente</th>
          <th>Valor</th>
          <th>Data Entrega</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Solda carreta
          </td>
          <td>
            Fulano
          </td>
          <td>
            12,000
          </td>
          <td>
            01/02/2021
          </td>
          <td>
            Em andamento.
          </td>
        </tr>

        <tr>
          <td>
            Carretinha
          </td>
          <td>
            Fulano 2
          </td>
          <td>
            14,000
          </td>
          <td>
            01/01/2021
          </td>
          <td>
            Finalizado.
          </td>
        </tr>

        <tr>
          <td>
            Grades posto
          </td>
          <td>
            Posto fulano
          </td>
          <td>
            16,000
          </td>
          <td>
            03/03/2021
          </td>
          <td>
            Agendado.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
